{% extends 'templates/app/base.html' %}

{% block content %}

    <h1>Profil de {{ user.login42 }}</h1>
    <p>Email : {{ user.email }}</p>
    <p>Login : {{ user.login42 }}</p>
    <p><img src="{{ user.profile_photo }}"></p>

    <form id="logoutForm" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
        <button type="submit"></button>
    </form>
    <p><a href="#" onclick="submitLogoutForm();">Se déconnecter</a></p>

    <h2>Paramètres d'authentification à deux facteurs</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-check form-switch custom-switch mb-3">
            <label class="form-check-label" for="is_two_factor_email_enabled">Activer 2FA avec l'email</label>
            <input class="form-check-input" type="checkbox" id="is_two_factor_email_enabled" name="is_two_factor_email_enabled" {% if user.is_two_factor_enabled and not user.totp_key %}checked{% endif %}>
        </div>
        
        <div class="form-check form-switch custom-switch mb-3">
            <label class="form-check-label" for="is_two_factor_totp_enabled">Activer 2FA avec TOTP</label>
            <input class="form-check-input" type="checkbox" id="is_two_factor_totp_enabled" name="is_two_factor_totp_enabled" {% if user.totp_key %}checked{% endif %}>
        </div>
        
        <button type="submit" class="btn btn-primary mt-2">Confirmer</button>
    </form>

    <a href="{% url 'enable-totp' %}" class="btn btn-info mt-3">Configurer TOTP</a>

    

{% endblock %}


